@charset "UTF-8";

.flexbox1, .flexbox2, .flexbox3, .flexbox4, .flexbox5{
	display : flex;
	width : 200px; /* 가로사이즈 */
	border : 1px solid red;
}

.flexbox1{
	flex-wrap : wrap;
	/* 자식요소들의 크기가 더 커지면 자동 줄바꿈 처리 */
	/* 즉, 위에서 width 200px설정값보다 더 커질경우 줄바꿈 */
	align-items: flex-start;
	/* 하위박스가 세로 중 상위박스의 윗 변에 정렬됨 */
}
.flexbox2{
	align-items: center;
	/* 하위박스가 세로 중 상위박스의 가운데에 정렬됨 */
}
.flexbox3{
	align-items: flex-end;
	/* 하위박스가 세로 중 상위박스의 아랫 변에 정렬됨 */
}
.flexbox4{
	align-items: stretch;
	/* 기본값 */
	/* box3과 같이 크기 조정(width, height)이 되어있지 않은
	하위박스는 하위박스 중 크기조정이 되어있는 가장 긴 길이의 박스를 따라감 */
}
.flexbox5{
	flex-wrap : wrap;
	align-items: baseline;
	/* 하위박스 내 text를 따라 길이가 지정됨 */
}

/* 선택자1 , 선택자2{} */
.box1, .box2, .box3, .box4, .box5, .box6{
	background-color: blue;
	color : white;
	border : 1px solid white;
}

.box1{
	width : 50px;	height : 50px;
}
.box2{
	width : 100px;	height : 100px;
	display : inline-block; align-items : center;
}
.box4{
	width : 50px;	height : 80px;
}
.box5{
	width : 100px;	height : 150px; 
	display: inline-flex; align-items : center;
}

