@charset "UTF-8";
*{
	padding: 0px;
	margin: 0px;
}
li{ list-style-type: none; }
/*글머리 제거*/

#a_header{
	width: 1200px;
	margin: 0 auto;
	justify-content: space-between;;
	display: flex;
}
#a_header a{
	text-decoration-line: none;
	color: black;
}
.a_logo{
	margin-top: 15px;
}
.a_h_rightmenu{
	display: flex;
}
.a_h_rightmenu li{
	margin: 20px;
	font-size: 22px;
	font-weight: bold;
}

/* main 이미지 */
#a_main_img{
	width:100%; height:780px;
	background-image: url("img/main.jpg");
	/* 배경이미지 */
	background-repeat: no-repeat;
	background-position: center;
	margin: 30px 0px;
}
/* 본문상단 */
#a_c_topmenu{
	margin: 0 auto;
	width: 1200px;
	height: 200px;
	display: flex;
	justify-content: space-between;
	padding-top: 100px;
}

.a_c_leftmenu{
	width: 590px;
	display: flex;
	
}
.a_c_rightmenu{
	width: 590px;
	display: flex;
}
.a_c_img{
	width:100px;
	height: 100px;
	margin-left: 50px;
	margin-right: 50px;
}
#a_c_topmenu p{
	margin-top: 20px;
}

/* ------------------------------------------ */


.b_Main_bottom{
	background-color: #F9F9F9;
	display:flex;
	justify-content: center;
}
.b_Image_Item
{
	margin: 20px 5px;
}
.b_Image_Item h4
{
	font-size : 12px;
}
.b_Image_Item img
{
	width: 280px;
	height: 198px;
	
}
.b_Item_Info
{
	font-size: 6px;
}
.b_Info_Text
{
	padding-left: 5px;
}





.b_Footer
{
	
	height: 130px;
	background-color: #292C32;
	align-items: center;
	padding-top: 15px;
}
.b_Footer_Content
{
	width: 1100px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}
.b_Footer_Item
{
	
	height : 100px;
	color: white;
	padding-top: 20px;
	/*background-color: white;*/
	
}

.b_Item1
{
	width: 200px;
}
.b_Item1 h4
{
	font-size: 14px;
	margin-bottom: 13px;
}
.b_Item1 h3
{
	font-size: 20px;
}

.b_Item2
{
	width: 350px;
}

.b_Item2 .b_Item2_text1
{
	font-size: 8px;
	margin-bottom: 13px;
}
.b_Item2 .b_Item2_text2
{
	font-size: 8px
}
.b_Item3
{
	width: 100px;
	justify-content: space-between;
}
.b_Item3 img
{
	width: 20px;
	height: 20px;
}
