@charset "UTF-8";
/* 통상 css 작업전
{ padding:0; margin:0 }으로
모든 곳에 기본여백을 제거해야함 */

.s0{
	width : 437px;
	/* 이미지 가로 사이즈 */
}

.s1{
	border : solid 1px #E2E2E2;
	display: inline-block;
	padding-left : 18px;
	padding-right : 18px;
	padding-bottom : 18px;
}
.s2{
	display: inline-block;
	color : orange;
	font-size : 15px;

}
